*, *::before, *::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1, h2, h3, h4, p, ul, ol, li, blockquote, fieldset {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  min-width: 1140px;
}

.result {
  min-height: 456px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title {
  margin-bottom: 24px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
}

.content__video-card-title {
  margin-bottom: 6px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: scroll;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:active {
  background: #545050;
}

.content__list-item:last-of-type{
  margin-bottom: 0;
}

.content__card-link {
  text-decoration: none;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  background: none;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff ;
  color: #fff;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  background: transparent;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  background: transparent;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  background: transparent;
}

.search-form__submit-button {
  width: 194px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  width: 212px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

/* .search-form__label:focus {
  outline: 1px solid #fff;
}

.content__list-item:focus {
  outline: 1px solid #fff;
} */

.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox::after,
.search-form__checkbox[type="checkbox"]:hover + .search-form__pseudo-checkbox::after{
  content: '';
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
}

.search-form__checkbox[type='checkbox']:hover ~ span {
  text-decoration: underline;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  min-inline-size: 15px;
  min-block-size: 15px;
}